@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1510554310709-f60fc3cf34e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  color: azure;
  font-weight: 600;
  font-size: 5rem;
  margin-top: 20rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  color: azure;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  margin: 1.5rem 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.element {
  text-align: center;
}

.element span {
  color: azure;
  font-size: 1.3rem;
}