@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/img/timer_Background_img.jfif");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  color: azure;
  font-weight: 600;
  font-size: 5rem;
  margin-top: 20rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  color: azure;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
  margin: 1.5rem 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.element {
  /* display: flex; */
  text-align: center;
}

.element span {
  color: azure;
  font-size: 1.0rem;
}